@font-face {
    font-family: 'Agency FB Bold';
    src: url('Css/Font/agency-fb-bold.ttf') format('truetype');
}

h2 {
    font-family: 'Agency fb';
    text-align: center;
    color: #000000;
}

nav {

    font-family: 'Agency fb';

}


.card {

    background-color: rgba(83, 252, 5, 0.959);
    text-align: center;

}

.parrafo-moto {

    color: #e94d1e;
    margin: 0;
}

.color-span {
    background: -webkit-linear-gradient(#cfa3dd, #754ce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgCarrousel {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 65vh;
}

.img-moto {

    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

table {

    color: #fafafa;
    background-color: rgba(68, 57, 57, 0.418);

}

.secciones {

    width: 100%;
    text-align: center;
    color: rgb(253, 253, 253);

}

.secciones-moto {

    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgb(0, 0, 0)
}

.rectangulo-fondo {
    align-content: center;
    text-align: center;
    padding: 20px;
    background-color: #7e333385;
    border-radius: 20px;
    border: 2px solid #ccc;
}


.Motos {

    background-color: #ca2323;
    margin: 0;
    padding: 0;
}

.fondo {

    background-image: url(../image/fondo_moto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(146, 26, 26, 0.247);
}

.fondo section {
    position: relative;
    z-index: 1;
    color: #ffffffb0;

}

.opacidad {

    background-color: rgba(0, 0, 0, 0.5);
}



.body-color {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(51, 101, 66, 0.9850315126050421) 100%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    font-family: 'Agency fb';

}

h3 {
    text-align: center;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;

}


/*Formulario*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.body-formulario {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #555764;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-content {

    background: linear-gradient(50deg,
            rgba(40, 42, 55, 1)50%,
            rgba(40, 42, 55, 0.7)),
        url(../image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
}

.form-content h2 {
    color: #f4f6f9;
    font-size: 40px;
    margin-bottom: 25px;

}

form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

label {

    font-size: 17px;
    color: #959AAB;
    margin-bottom: 10px;
}

input,
textarea {

    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #F4F6F9;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus {
    outline: 1px solid #1E92E9;
}

.btn {

    background-color: #1E92E9;
    width: 150px;
    align-content: flex-end;
    cursor: pointer;
}

.btn:hover {

    background-color: #219bf9;
}

@media(max-width: 991px) {
    .body-formulario {

        padding: 30px;
    }

    .form-content {
        width: 100%;
    }

    form {

        width: 100%;
    }

}