{% extends 'administrador/baseProducto.html' %}
{% block contenido %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6" style="display:flex; justify-content:center; align-items:center;">

            <form action="" method="post" enctype="multipart/form-data" class="text-center" style="width: 100%;">
                <h1>Modificar producto</h1>

                {% csrf_token %}
                {{ form | crispy }}

                <div class="d-flex justify-content-around mt-3">
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </form>
            {{mensaje}}
        </div>
    </div>
</div>

{% endblock %}