@font-face {
    font-family: 'Agency FB Bold';
    src: url("{% static 'app/font/agency-fb-bold.ttf' %}") format('truetype');
}

nav {

    font-family: 'Agency fb';
    font-size: 25px;

}

.fondo {

    background-image: url('../img/fondo_moto.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}