{% extends 'app/base.html' %}
{% load static %}

{% block contenido%}

<div class="fondo">

    <!-- Cygnus Ray ZR -->


    <section>
        <img class="img-moto" src="{% static 'app/img/Scooter1.png' %}" alt="">
        <h2>Cygnus Ray ZR</h2>
        <p class="p-moto fw-bold">$ 1.990.000</p>
        <div class="accordion accordion-flush" id="accordionFlushExampleCygnusRayZR">
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleCygnusRayZRDescripcion"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneCygnusRayZR" aria-expanded="false"
                        aria-controls="flush-collapseOneCygnusRayZR">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneCygnusRayZR" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleCygnusRayZR">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">Scooter de amplias proporciones, cómoda, de
                            estilo deportivo y fresco para la ciudad. Con excelente motor con filosofía BlueCore que
                            brinda la
                            máxima eficiencia de combustible (58 Km/L aprox.). Asiento amplio y cómodo con espacio
                            inferior de
                            21L. Sistema de freno unificado para un frenado suave y de corta distancia, ideal para
                            principiante.
                            Sorpréndete con la nueva Scooter Cygnus RayZR.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleCygnusRayZREspecificaciones"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoCygnusRayZR" aria-expanded="false"
                        aria-controls="flush-collapseTwoCygnusRayZR">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwoCygnusRayZR" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleCygnusRayZR">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>125 cc</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>99 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>8 HP A 6.500 RPM</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>9.7 Nm a 5.000 RPM</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>Monocilíndrico, 4T, SOHC, Refrigerado por aire</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Contenedor del rectángulo con botones -->
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary">Agregar al carrito</button>

                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br><br>

    <!-- NMax -->

    <section>
        <img class="img-moto" src="{% static 'app/img/Scooter2.png' %}" alt="">
        <h2>NMAX CONNECTED</h2>
        <p class="p-moto fw-bold">$ 3.590.000</p>

        <div class="accordion accordion-flush" id="accordionFlushExampleNMAX">
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleNMAXDescripcion"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneNMAX" aria-expanded="false"
                        aria-controls="flush-collapseOneNMAX">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneNMAX" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleNMAX">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">Nmax gracias a su sistema Connected te
                            permitirá estar en contacto directo con tu moto en todo momento gracias a la conexión
                            que tiene con
                            el celular del usuario. Su diseño sofisticado, elegante y urbano, tecnología y su amplio
                            maletero de
                            23 litros harán de NMAX CONNECTED una experiencia única al conducirla.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleNMAXEspecificaciones"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoNMAX" aria-expanded="false"
                        aria-controls="flush-collapseTwoNMAX">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwoNMAX" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleNMAX">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindrada</th>
                                <td>155 cc</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>131 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>15.15 HP a 8000 rpm</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>13.9 Nm @ 6500 rpm</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>Refrigeración líquida,4-tiempos, SOHC, 4 válvulas</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Contenedor del rectángulo con botones -->
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary">Agregar al carrito</button>

                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br><br>

    <!-- XMAX -->

    <section>
        <img class="img-moto" src="{% static 'app/img/Scooter3.png' %}" alt="">
        <h2>XMAX 300</h2>
        <p class="p-moto fw-bold">$ 5.990.000</p>

        <div class="accordion accordion-flush" id="accordionFlushExampleXMAX">
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleXMAXDescripcion"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneXMAX" aria-expanded="false"
                        aria-controls="flush-collapseOneXMAX">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneXMAX" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleXMAX">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">La XMAX 300 te ofrece el estilo, la clase y
                            la
                            calidad superior de un maxiscooter. Con un diseño elegante y tecnológico,
                            transformándola en un
                            modelo único. Su potente y económico motor de 300cc con inyección electrónica
                            desarrollado bajo
                            concepto Blue Core le otorga prestaciones destacables. Además, cuenta con frenos ABS y
                            control de
                            Tracción lo que te otorgará mayor seguridad. Este modelo hace que la movilidad en la
                            ciudad combine
                            lo práctico y estético, sin olvidar la comodidad y la seguridad en el andar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100 " id="accordionFlushExampleXMAXEspecificaciones"
                style="border-radius: 10px;">
                <h2 class="accordion-header ">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFourXMAX" aria-expanded="false"
                        aria-controls="flush-collapseFourXMAX">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseFourXMAX" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExampleXMAX">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>292 cm3</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>179 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>28,0 HP a 7.250 rpm</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>29,0 Nm a 5.750 rpm</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>Monocilíndrico, 4 tiempos, refrigerado por líquido, SOHC</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Contenedor del rectángulo con botones -->
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">

                    <button type="button" class="btn btn-secondary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}