{% extends 'app/base.html' %}
{% load static %}

{% block contenido%}
{% load humanize %}


<div class="fondo">
    {% for producto in productos %}
    <section>
        <img class="img-moto" src="{{ producto.imagen.url }}" alt="{{ producto.modelo.nombre }}">
        <h2>{{ producto.modelo.nombre }}</h2>
        <p class="p-moto fw-bold">${{ producto.precio|intcomma }}</p>
        <div class="accordion accordion-flush" id="accordionFlushExample{{ producto.id }}">
            <div class="accordion accordion-flush w-100" id="accordionFlushExample{{ producto.id }}Descripcion"
                style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ producto.id }}"
                        aria-expanded="false" aria-controls="flush-collapseOne{{ producto.id }}">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOne{{ producto.id }}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample{{ producto.id }}">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">{{ producto.descripcion }}</p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100" id="accordionFlushExample{{ producto.id }}Especificaciones"
                style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{ producto.id }}"
                        aria-expanded="false" aria-controls="flush-collapseTwo{{ producto.id }}">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwo{{ producto.id }}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample{{ producto.id }}">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>{{ producto.modelo.cilindraje }}</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>{{ producto.modelo.peso }}</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>{{ producto.modelo.potencia_maxima }}</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>{{ producto.modelo.torque_maximo }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>{{ producto.modelo.tipo_motor }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenedor del rectángulo con botones -->
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br><br>
    {% endfor %}
</div>

{% endblock %}