{% extends 'app/base.html' %}
{% load static %}

{% block contenido%}
<!-- TTR-110E -->
<section>
    <img class="img-moto" src="{% static 'app/img/TTR-110E.png' %}" alt="">
    <h2>TTR-110E</h2>
    <p class="p-moto fw-bold">$ 2.390.000</p>
    <div class="accordion accordion-flush" id="accordionFlushExampleTTR-110E">
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleTTR-110EDescripcion"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOneTTR-110E" aria-expanded="false"
                    aria-controls="flush-collapseOneTTR-110E">
                    Descripción
                </button>
            </h2>
            <div id="flush-collapseOneTTR-110E" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleTTR-110E">
                <div class="parrafo-moto row justify-content-center">
                    <p class="fw-bold text-light rectangulo-fondo">La gama de vanguardia TT-R de Yamaha incluye
                        la
                        TT-R110E, de hermoso diseño, dedicada a los principiantes y a quienes se gradúan con las
                        motos
                        más pequeñas. Su carrocería original estilo motocross color azul carrera está inspirada
                        directamente
                        en nuestras motos de carreras YZ ganadoras de grandes premios de motocross. Para
                        facilitar la
                        conducción y lograr altos niveles de comodidad del conductor, está bonita moto juvenil
                        cuenta
                        con suspensión delantera y trasera de carrera larga.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleTTR-110EEspecificaciones"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoTTR-110E" aria-expanded="false"
                    aria-controls="flush-collapseTwoTTR-110E">
                    Especificaciones
                </button>
            </h2>
            <div id="flush-collapseTwoTTR-110E" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleTTR-110E">
                <div class="table-responsive">
                    <table class="table" border="2">
                        <tr>
                            <th>Cilindrada</th>
                            <td>110 cm3</td>
                        </tr>
                        <tr>
                            <th>Peso</th>
                            <td>72 kg</td>
                        </tr>
                        <tr>
                            <th>Sistema de alimentación</th>
                            <td>Carburador Mikuni VM16</td>
                        </tr>
                        <tr>
                            <th>Sistema de encendido</th>
                            <td>CDI</td>
                        </tr>
                        <tr>
                            <th>Tipo de motor</th>
                            <td>4 tiempos, refrigerado por aire, SOHC</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Contenedor del rectángulo con botones -->
    <div class="container">
        <div class="botones-rectangulo row justify-content-center">
            <div class="col-auto">

                <button type="button" class="btn btn-secondary">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br>

<!-- YZ-250X -->

<section>
    <img class="img-moto" src="{% static 'app/img/YZ-250X.png' %}" alt="">
    <h2>YZ-250X</h2>
    <p class="p-moto fw-bold">$ 7.290.000</p>
    <div class="accordion accordion-flush" id="accordionFlushExampleYZ-250X">
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleYZ-250XDescripcion"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOneYZ-250X" aria-expanded="false"
                    aria-controls="flush-collapseOneYZ-250X">
                    Descripción
                </button>
            </h2>
            <div id="flush-collapseOneYZ-250X" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleYZ-250X">
                <div class="parrafo-moto row justify-content-center">
                    <p class="fw-bold text-light rectangulo-fondo">La nueva YZ250X dos tiempos está desarrollada
                        específicamente para carreras Off-Road. Está diseñada para atraer a los pilotos que
                        prefieren el
                        manejo preciso, la entrega de potencia instantánea y el mantenimiento sencillo del motor
                        en
                        revoluciones altas.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleYZ-250XEspecificaciones"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoYZ-250X" aria-expanded="false"
                    aria-controls="flush-collapseTwoYZ-250X">
                    Especificaciones
                </button>
            </h2>
            <div id="flush-collapseTwoYZ-250X" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleYZ-250X">
                <div class="table-responsive">
                    <table class="table" border="2">
                        <tr>
                            <th>Cilindrada</th>
                            <td>249 cm3</td>
                        </tr>
                        <tr>
                            <th>Peso</th>
                            <td>104 Kg</td>
                        </tr>
                        <tr>
                            <th>Sistema de lubricación</th>
                            <td>Mezcla previa, YAMALUBE 2R, 30:1</td>
                        </tr>
                        <tr>
                            <th>Tipo de embrague</th>
                            <td>Multidisco en baño de aceite</td>
                        </tr>
                        <tr>
                            <th>Tipo de motor</th>
                            <td>2 tiempos, refrigerado por líquido, YPVS, inducción por válvula de láminas</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Contenedor del rectángulo con botones -->
    <div class="container">
        <div class="botones-rectangulo row justify-content-center">
            <div class="col-auto">

                <button type="button" class="btn btn-secondary">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br>

<!-- WR-250F -->

<section>
    <img class="img-moto" src="{% static 'app/img/WR-250F.png' %}" alt="">
    <h2>WR-250F</h2>
    <p class="p-moto fw-bold">$ 8.490.000</p>

    <div class="accordion accordion-flush" id="accordionFlushExampleWR-250F">
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleWR-250FDescripcion"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOneWR-250F" aria-expanded="false"
                    aria-controls="flush-collapseOneWR-250F">
                    Descripción
                </button>
            </h2>
            <div id="flush-collapseOneWR-250F" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleWR-250F">
                <div class="parrafo-moto row justify-content-center">
                    <p class="fw-bold text-light rectangulo-fondo">Ser diferentes es lo que hace que nuestras
                        motos sean tan especiales. El motor "invertido" de la nueva WR-250F es un buen
                        ejemplo... Aunque lo que parecía equivocado para la mayoría resultó ser un acierto para
                        nosotros. Con una admisión delantera y una caja del filtro de aire en posición superior
                        que alimenta el sistema de inyección, este innovador motor proviene de la galardonada
                        YZ-250F de motocross que ha desterrado a sus rivales en EE. UU, Europa y Australia.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush w-100 " id="accordionFlushExampleWR-250FEspecificaciones"
            style="border-radius: 10px;">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFourWR-250F" aria-expanded="false"
                    aria-controls="flush-collapseFourWR-250F">
                    Especificaciones
                </button>
            </h2>
            <div id="flush-collapseFourWR-250F" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExampleWR-250F">
                <div class="table-responsive">
                    <table class="table" border="2">
                        <tr>
                            <th>Cilindrada</th>
                            <td>250 cm3</td>
                        </tr>
                        <tr>
                            <th>Peso</th>
                            <td>115 kg</td>
                        </tr>
                        <tr>
                            <th>Sistema de alimentación</th>
                            <td>Inyección electrónica, Mikuni® 44mm</td>
                        </tr>
                        <tr>
                            <th>Transmisión</th>
                            <td>6 velocidades, engrane constante</td>
                        </tr>
                        <tr>
                            <th>Tipo de motor</th>
                            <td>Invertido, 4 tiempos, DOHC, 4 válvulas</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Contenedor del rectángulo con botones -->
    <div class="container">
        <div class="botones-rectangulo row justify-content-center">
            <div class="col-auto">

                <button type="button" class="btn btn-secondary">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>
{% endblock%}